body {
  font-family: "Open Sans";
  margin: 0px;
}

header {
  background: url(header.jpg);
  width: 100%;
  height: 500px;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  position: relative;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style-type: none;
  padding-right: 5px;
  color: #083452;
}

header .right {
  position: absolute;
  right: 115px;
  top: 12px;
  font-weight: bold;
}


#logo {
  position: absolute;
  left: 115px;
}

#blog_link {
  position: absolute;
  top: 28px;
  left: 175px;
}

header h1 {
  position: absolute;
  top: 28%;
  right: 14%;
  font-size: 76px;
  color: white;
  font-weight: 100;
}

header h6 {
  position: absolute;
  top: 50%;
  right: 36%;
  font-size: inherit;
  color: #083452;
}

/* end of header */

/* start of main */
main {
  display: flex;
  width: 80%;
  justify-content: space-around;
  margin: auto;
}

#main_article {
  margin-right: 34px;
}
/* end of main */

/* start of article */

#below_heading {
  position: relative;
  padding-top: 10px;
}
#below_heading li {
  display: inline-block;
  font-size: small;
  position: absolute;
  bottom: 0px;

}

#below_heading img {
  width: 30px;
  position: absolute;
  bottom: -5px;
}

#main_article h1 {
  font-size: 275%;
  color: #083452;
  margin-bottom: 0px;
}

#main_article p {
  margin-top: 35px;
}

blockquote {
  border-left: 2px solid lightgray;
  padding-left: 20px;
  height: 60px;
  font-size: xx-large;
  color: #106db3;
}

#article_icons {
  padding-left: 0px;
}

#article_icons li {
  background-color: lightgray;
  display: inline-block;
  list-style-type: none;
  color: white;
  margin-right: 15px;
  width: 28%;
  font-size: 85%;
}

#article_icons li:hover {
  background-color: #106db3;
}

#article_icons img {
  background-color: gray;
  padding: 5px;
}
/* end of article */

/* start of aside*/

#ad_picture {
  height: 300px;
  width: 280px;
  background: url(ad.jpg);
  margin-bottom: 0px;
}

#about_ad_link {
    margin-top: 0px;
    float: right;
    font-size: smaller;
}

aside {
  margin-left: 25px;
}

aside section {
  margin-top: 75px;
}

#about_author {
  text-align: center;
}

#about_author p {
  margin: 0px;
}

#social_links {
  margin: 0px;
  padding-left: 0px;
}

#social_links li {
  display: inline-block;
  font-size: small;
  color: lightgray;
  border-right: 1px solid lightgray;
  padding-right: 5px;
}

#sidebar_article h4 {
  color: #106db3;
  font-weight: 900;
  margin-bottom: 0px;
}

#sidebar_article p {
  color: lightgray;
  font-size: 94%;
  margin-top: 5px;
}

/* end of aside*/
/* Popular Posts section */

#popular_posts h1{
  border-top: 1px solid #106db3;
  text-align: center;
  color: #083452;
  padding-top: 30px;
  font-size: 50px;
  font-weight: 900;
}

.posts {
  display: flex;
  position: relative;
}

.posts article {
  flex: 1 1 0;
  height: 325px;
}

.posts h3 {
  position: absolute;
  bottom: 0px;
}

.another_cool_post {
  background: url(article-image-1.jpg);
}

.post_title {
  background: url(article-image-2.jpg);
}

.long_title {
  background: url(article-image-3.jpg);
}

.cool_post {
  background: url(article-image-4.jpg);
}

/* start of footer bar */

footer {
  background-color: #083452;
  display: flex;
  position: relative;
}

footer ul {
  flex: 1 1 0;
}

footer ul li {
  display: inline-block;
  padding-right: 5px;
  color: lightgray;
}

#copyright {
  position: absolute;
  top: 25px;
}
